<div class="card">
    <div class="header">
        <h4 class="title">Affecter un technicien</h4>
    </div>
    <div class="content">
        <form>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Choisir un technicien</label>
                        <select class="form-control border-input">
                          <option>amine</option>
                          <option>amine</option>
                          <option>amine</option>
                          <option>amine</option>
                          <option>amine</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Probléme</label>
                        <input type="text" class="form-control border-input">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Salle</label>
                        <input type="text" class="form-control border-input">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                      <button class="btn btn-success" id="successModalBtn" mat-dialog-close>Ok...</button>
                       <button class="btn btn-info" mat-dialog-close>Annuler</button>
                    </div>
                </div>
            </div>
          </form>
    </div>
</div>